@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Albert Sans", sans-serif;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    margin-top: 77px;
    width: 90%;
}


.heroSlider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    position: relative;
}

.sliderElements {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    gap:40px;
    padding-left: 60px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.imgSlider{
    border-radius: 60px;
    width: 100%;
}


.titleSlider {
    color: white;
    font-size: min(calc(16px + 2vw), 55px);
}

.btnSlider {
    display: flex;
    align-items: center;
}

.btnContent {
    padding: 11px 17px;
    font-size: min(16px, calc(0.5vw + 10px));
    border-radius: 6rem;
    background-color: white;
    color: black;
    position: relative;
    top: -16px;
}

.btnContent::after {
    display: inline-block;
}

.btnSlider:link {
    color: black;
    text-decoration: none;
}

.preTitleSlider {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    top: 20px;
}

.cabecera-1 {
    position: fixed;
    z-index: 3;
    background-color: white;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 8vh;
}

.divMarca {
    width: 25%;
    display: flex;
}

.divMenu {
    width: 50%;
    text-align: center;
}

.divBotones {
    display: flex;
    justify-content: end;
    width: 25%;
    gap: 18px;
}

.boton {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 19px;
}

.menu li {
    position: relative;
    display: inline-flex;
    padding: 10px;
    list-style: none;
}

.menu li:hover > .categorias::before {
    width: 100%;
}

.categorias {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: black;
    position: relative;
}

.categorias::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: black;
    transition: width 0.3s ease;
}

.category{
    margin-top:45px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.grid-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    padding: 35px 0px;
    border-radius: 20px;
}

.grid-category h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

.numBoton {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    top: -8px;
    right: -7px;
    border-radius: 40px;
    background-color: black;
    font-size: 10px;
}


.containerFtrd{
    display: flex;
    justify-content: center;

}

.featuredProducts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin-top: 45px;
}


.gridFtrdProducts{
    border-radius: 25px;
    padding: 20px;
    position: relative;
}

.gridFtrdProducts > *{
    margin: 10px 0px;
}

.gridFtrdProducts ul > *{
    font-size: 15px;
    list-style: none;
    margin: 25px 0px;
    display: flex; /* Alinea el ícono y el texto horizontalmente */
    align-items: center;
}

.listFtrdProduct li svg {
    flex-shrink: 0; /* Evita que el SVG se encoja */
    margin-right: 10px;
    width: 12px;
    height: 10px;
}

.gridFtrdProducts ul > *::before{
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 10px;
}

.dividerFtrdProduct{
    border: none;
    background-color: #EBEBEB;
    height: 1px;
}

.ftrdProduct-2 .dividerFtrdProduct{
    border: none;
    background-color: #333333;
    height: 1px;
}


.ftrdProduct-1, .ftrdProduct-3{
    background-color: #F6F6F6;
    color: #747474;
}

.ftrdProduct-2{
    background-color: #141414;
    color: white;
}

.containerBtnFtrd{
    display: flex;
    justify-content: center;
}

.ftrdProduct-1 a, .ftrdProduct-3 a{
    color: white;
    padding: 13px 30px;
    border-radius: 25px;
    background-color: #141414;
}


.ftrdProduct-2 a{
    color: black;
    padding: 13px 30px;
    border-radius: 25px;
    background-color: #F6F6F6;
}

.ftrdProduct-1 a, .ftrdProduct-2 a, .ftrdProduct-3 a:link{
    text-decoration: none;
}


.ftrdProduct-1 a, .ftrdProduct-2 a, .ftrdProduct-3 a:visited{
    text-decoration: none;
}

.tagFtrdProduct{
    color: white;
    position: absolute;
    top: 0;
    font-size: 14px;
    right: 20px;
    padding: 8px 14px;
    border-radius: 25px;
}

.ftrdProduct-1 .tagFtrdProduct{
    background-color: #FF3232;
}

.ftrdProduct-2 .tagFtrdProduct{
    background-color: #44AD55;
}

.ftrdProduct-3 .tagFtrdProduct{
    background-color: #BEA36E;
}

.imgFtrdProduct{
    width: 100%;
}

.sectionBSellers {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.divBSellers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.bestSellers{
    position: relative;
    height: auto;
    background-color: white;
    width: 60%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 55px;
}

.productos a {
    text-decoration: none;
    font-size: 11px;
    margin: 20px;
}

.productos a:hover {
    color: orangered;
}

.productos img {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 10px;
}

.precioTachado {
    text-decoration: line-through;
    font-size: 11px;
    position: relative;
    color: rgb(119, 119, 119);
    margin-top: 6px;
    margin-left: 20px;
}

.nuevoPrecio {
    margin-left: 10px;
    position: absolute;
    color: rgb(184, 1, 1);
}

.precio {
    margin-top: 6px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 35px;
}

.containerBSellers {
    padding: 20px;
    background-color: #F6F6F6;
    border-radius: 55px;
    justify-content: center;
}

.titleBSeller {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin: 40px;
}

.tagBSeller {
    position: absolute;
    background-color: #FC5732;
    color: white;
    padding: 5px 7px;
    font-size: 12px;
    border-radius: 30px;
    right: 20px;
    top: 20px;
}

.containerFooter{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
}


.footer{
    display: grid;
    position: relative;
    bottom: 0;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    padding: 60px 0px;
}

.footerGrid h4{
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
}

.footerGrid >*{
    padding: 0px 20px;
    margin: 20px 0px;
}

.footerGrid ul >*{
    margin: 20px 0px;
    list-style: none;
    font-weight: 400;
    color: #5C5C5C;
}

.footerGrid ul >*:hover{
    color: #DE282B;
    cursor: pointer;
}

.footerGrid p {
    font-weight: 400;
    color:  #5C5C5C;
}


.footerGrid p span{
    font-weight: 600;
    color: #545454;
}

.inputNewsletter{
    position: relative;
}

.emailInput {
    padding: 10px 145px 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    height: 55px;
    width: 365px;
    border: 1px solid #e6e6e6;
    color: #5C5C5C;
}

.btnNewsletter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px ;
    padding: 10px 15px;
    background-color: black;
    border-radius: 30px;
    position: absolute;
    top: 7.5px;
    right: 30px;
}

.btnNewsletter:link{
    color: white;
    text-decoration: none;
}

.btnNewsletter:visited{
    color: white;
}

.optionsFooter{

    display: flex;
    gap: 30px;
}

.optionsFooter span{
    display: flex;
    gap: 5px;
    align-items: center;
}

.optionsFooter span img{
    width: 16px;
    height: 16px;
}

/* MEDIA QUERIES */

@media (min-width: 1150px) {

    .cabecera-2 {
        display: none;
    }
}

@media (max-width: 1149px) {

    .cabecera-1 {
        display: none;
    }

    .filterBack{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.459);
        position: fixed;
        z-index: 5;
        top: 0;
        cursor: url("/src/img/cursor-close.svg"), auto;
    }

    .cabecera-2 {
        position: fixed;
        z-index: 3;
        background-color: white;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 8vh;
    }

    .menuMobile{
        width: 350px;
        height: 100vh;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .btnCloseMenuMobile{
        position: absolute;
        font-size: 24px;
        top: 20px;
        left: 50px;
    }

    .divMenu-2 {
        width: 25%;
        display: flex;
    }

    .bar {
        text-decoration: none;
        color: black;
        font-size: 19px;
    }

    .divMarca-2 {
        justify-content: center;
        width: 50%;
        display: flex;
    }

    .heroSlider {
        border-radius: 30px;
    }

    .divMenu {
        display: none;
    }

    .category {
        grid-template-columns: repeat(4, 1fr);
    }

    .category-5, .category-6 {
        display: none;
    }

    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {

    .cabecera-2{
        width: 100%;
        padding: 0px 30px;
    }

    .divMenu-2 {
        width: 25%;
        display: flex;
        justify-content: left;
    }

    .bar {
        text-decoration: none;
        color: black;
        font-size: 19px;
    }

    .divMarca-2 {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    .category {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-3, .category-4, .category-5, .category-6 {
        display: none;
    }

    .boton-2, .boton-3 {
        display: none;
    }

    .divBotones {
        gap: 3px;
    }

    .container {
        width: 100%;
    }

    .imgSlider {
        border-radius: 0px;
    }

    .preTitleSlider {
        top: 31px;
    }

    .featuredProducts{
        grid-template-columns: 1fr;
    }

    .footer{
        grid-template-columns: 1fr;
        width: 100%;
    }
    

}