@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Albert Sans", sans-serif;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    margin-top: 77px;
    width: 90%;
}


.heroSlider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    position: relative;
}

.sliderElements {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    gap:40px;
    padding-left: 60px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.imgSlider{
    border-radius: 60px;
    width: 100%;
}


.titleSlider {
    color: white;
    font-size: min(calc(16px + 2vw), 55px);
}

.btnSlider {
    display: flex;
    align-items: center;
}

.btnContent {
    padding: max(11px, calc(1px + 0.5vw)) max(17px, calc(12px + 0.5vh));
    font-size: min(16px, calc(11px + 0.5vw));
    border-radius: 6rem;
    background-color: white;
    color: black;
    position: relative;
    top: -16px;
}

.btnContent::after {
    display: inline-block;
}

.btnSlider:link {
    color: black;
    text-decoration: none;
}

.preTitleSlider {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    top: 20px;
}

.cabecera-1 {
    position: fixed;
    z-index: 3;
    background-color: white;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 8vh;
}

.divMarca {
    width: 25%;
    display: flex;
}

.divMenu {
    width: 50%;
    text-align: center;
}

.divBotones {
    display: flex;
    justify-content: end;
    width: 25%;
    gap: 18px;
}

.boton {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 19px;
}

li {
    position: relative;
    display: inline-flex;
    padding: 10px;
    list-style: none;
}

li:hover > .categorias::before {
    width: 100%;
}

.categorias {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: black;
    position: relative;
}

.categorias::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: black;
    transition: width 0.3s ease;
}

.category{
    margin:45px 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px
}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    padding: 35px 0px;
    border-radius: 20px;
}

.grid h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

.numBoton {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    top: -8px;
    right: -7px;
    border-radius: 40px;
    background-color: black;
    font-size: 10px;
}


/* MEDIA QUERIES */

@media (min-width: 1150px) {

    .cabecera-2 {
        display: none;
    }
}

@media (max-width: 1149px) {

    .cabecera-1 {
        display: none;
    }

    .cabecera-2 {
        position: fixed;
        z-index: 3;
        background-color: white;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 8vh;
    }

    .divMenu-2 {
        width: 25%;
        display: flex;
    }

    .bar {
        text-decoration: none;
        color: black;
        font-size: 19px;
    }

    .divMarca-2 {
        justify-content: center;
        width: 50%;
        display: flex;
    }

    .heroSlider {
        border-radius: 30px;
    }

    .divMenu {
        display: none;
    }

    .category {
        grid-template-columns: repeat(4, 1fr);
    }

    .category-5, .category-6 {
        display: none;
    }

}

@media (max-width: 767px) {

    .divMenu-2 {
        width: 25%;
        display: flex;
        justify-content: left;
    }

    .bar {
        text-decoration: none;
        color: black;
        font-size: 19px;
    }

    .divMarca-2 {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    .category {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-3, .category-4, .category-5, .category-6 {
        display: none;
    }

    .boton-2, .boton-3 {
        display: none;
    }

    .divBotones {
        gap: 3px;
    }

    .container {
        width: 100%;
    }

    .imgSlider {
        border-radius: 0px;
    }

    .preTitleSlider {
        top: 31px;
    }
}