@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Albert Sans", sans-serif;
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container{
    width: 90%;
}


.heroSlider{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    position: relative;
}

.sliderElements{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    gap:40px;
    padding-left: 60px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.imgSlider{
    border-radius: 60px;
    width: 100%;
}


.titleSlider{
    color: white;
    font-size: 55px;
}

.btnSlider{
    display: flex;
    align-items: center;
}

.btnContent{
    padding: 16px 20px;
    font-size: 19px;
    border-radius: 40px;
    background-color: aliceblue;
}

.btnContent::after{
    display: inline-block;
}

.btnSlider:link{
    color: black;
    text-decoration: none;
}

.preTitleSlider{
    color: white;
    text-transform: uppercase;

}

.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
}

.divMarca {
    width: 25%;
    display: flex;
}

.divMenu {
    width: 50%;
    text-align: center;
}

.divBotones {
    width: 25%;
    text-align: right;
}

li {
    display: inline;
    padding: 0.5em;
    list-style: none;
}

.categorias {
    text-decoration: none;
    color: black;
}

.categorias:hover {
    text-decoration: underline;
}

.botonBusqueda, .botonUser, .botonLike, .botonCesta {
    text-decoration: none;
    color: black;
}


.category{
    margin:45px 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px
}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    padding: 35px 0px;
    border-radius: 20px;
}

.grid h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}